/* .nuhs-btn-primary {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  background-color: #337ab7;
  color: white;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.nuhs-btn-primary:hover {
  background-color: #23527c;
} */
.btn {

	font-weight: 600;
	border-radius: 0.5rem;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0.5rem 0.75rem;
	height: 3rem;
	margin-right: 0.5rem;
	margin-bottom: 1rem;
	border: none;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
	width: 100%;
}

.btn-center-wrapper a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.btn-default {
	color: white;
	background-color: #0077c8;
}
.btn-default:hover {
	background-color: #0077c8;
}

.btn-alternative {
	color: #0077c8;
	background-color: white;
	border: 1px solid #0077c8;
}
.btn-alternative:hover {
	background-color: #f3f4f6;
	color: #1d4ed8;
}

.btn-center-wrapper {
	display: flex;
	justify-content: left;
	align-items: center;
	width: 100%;
}


.btn:focus {
	outline: none;
	box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

.fab {
	position: fixed;
	top: 40px;
	right: 20px;
	display: flex;
	justify-content: right;
	align-items: right;
	width: 100%;
}

.fab-button {
	font-weight: 600;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
	
	.fab {
		display: none;
	}
	.btn {
		width: auto;
	}
	.btn-center-wrapper {
		width: auto;
	}
}

/* Desktop styles */
@media screen and (min-width: 1024px) {
	
  .btn {
    width: auto;
  }

  .btn-center-wrapper {
    width: auto;
  }

  .btn-center-wrapper a {
    display: inline;
    width: auto;

  }
 

	.nuhs-btn-primary {
		padding: 0.5rem 1rem;
	}


}


