---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import P1 from "../assets/education/pregnancy.jpg";
import P2 from "../assets/education/bp-numbers.jpg";
---

<Layout title="NUH Wayfinder">
	<h1 class="font-bold text-red-500 text-4xl">
		High Blood Pressure in Pregnancy
	</h1>
	<div class="img-container">
		<Image
			src={P1}
			alt="NUH Wayfinding Map"
			class="big-img"
			format="webp"
			quality={20}
		/>
	</div>
	<p>
		Gestational hypertension or high blood pressure during pregnancy is one of
		the most common hypertensive disorders that women face during pregnancy. It
		is asymptomatic and affects about 5-10% of pregnant women. These are women
		who do not have hypertension before their pregnancy but develop it from 20
		weeks of pregnancy onwards.
	</p>

	<p>
		Developing high blood pressure during pregnancy can result in pregnancy
		complications and should be taken seriously. Furthermore, women who develop
		hypertension during pregnancy are five times more likely to develop high
		blood pressure later in life than the general population. At the same time,
		their risk of developing health problems like coronary artery disease, heart
		attack, stroke and heart failure in the long term will be about two times
		higher than the general population.
	</p>

	<hr />
	<h2>Types of High Blood Pressure During and After Pregnancy</h2>
	<h3>Chronic hypertension</h3>
	<p>
		Hypertension is defined when an individual has a high blood pressure reading
		where their systolic pressure measures 140mmHg or more and/or a diastolic
		pressure of 90mmHg or more.
	</p>
	<p>
		A normal blood pressure reading of a young healthy woman should be between
		90/60mmHg to 120/80mmHg. Blood pressure readings between 130/85 to
		139/89mmHg are considered borderline high blood pressure.
	</p>
	<p>
		Chronic hypertension is a lifelong condition that can happen to women before
		pregnancy.Women with chronic hypertension will have gestational
		hypertension.
	</p>

	<h3>Gestational hypertension</h3>
	<p>
		Gestational hypertension is diagnosed when a pregnant woman has a high blood
		pressure reading where her systolic pressure is 140mmHg or more and/or
		diastolic pressure is 90mmHg or more. It is also known as pregnancy-induced
		high blood pressure. Gestational hypertension usually goes away after the
		delivery of the baby, within two to three months.
	</p>
	<Image src={P2} alt="Nu Lite" class="big-img" format="webp" quality={20} />

	<p>
		Expectant mothers who have borderline high to high blood pressure should
		work with their health care provider to closely monitor and work to prevent
		high blood pressure from escalating into more severe hypertension.
	</p>

	<h4>Symptoms</h4>
	<p>
		Gestational hypertension is asymptomatic and does not present any symptoms.
		It can only be detected through regular blood pressure monitoring.
	</p>

	<h4>Causes</h4>

	<p>
		While the cause of gestational hypertension is unknown, there are factors
		that put expectant mothers at an increased risk.
	</p>

	<h4>Risk Factors</h4>

	<ol><li>Pre-existing conditions prior to pregnancy such as:</li></ol>

	<ul>
		<li>Diabetes</li>
		<li>High blood pressure</li>
		<li>Overweight</li>
	</ul>

	<ol start="2"><li>Autoimmune conditions such as</li></ol>
	<ul>
		<li>Lupus</li>
		<li>Underlying kidney disease</li>
	</ul>
	<ol start="3"><li>Age</li></ol>
	<ul>
		<li>
			Women who are at extreme ages during pregnancy, such as less than 20 years
			old or more than 40 years old
		</li>
	</ul>
	<ol start="4">
		<li>
			History of preeclampsia or high blood pressure disorders during a previous
			pregnancy
		</li>
	</ol>
	<ol start="5"><li>Family History</li></ol>
	<ul>
		<li>
			Women whose family members have had gestational hypertension during their
			pregnancies
		</li>
	</ul>
	<ol start="6"><li>Having multiple babies, i.e. twins, triplets, etc.</li></ol>
	<ol start="7"><li>Women who received assisted reproduction therapies</li></ol>
	<ol start="8"><li>Antiphospholipid syndrome</li></ol>

	<h4>Complications</h4>
	<p>
		High blood pressure during pregnancy hinders blood flow to vital organs such
		as the liver, brain, uterus and placenta. This affects the baby’s growth and
		they tend to be smaller.
	</p>

	<p>
		High blood pressure during pregnancy hinders blood flow to vital organs such
		as the liver, brain, uterus and placenta. This affects the baby’s growth and
		they tend to be smaller.
	</p>

	<h4>Treatment</h4>
	<p>
		Doctors will determine the best course of action based on the severity of
		the mother’s blood pressure, the overall health of the mother during
		pregnancy and their medical history. The doctor may run blood tests to rule
		out preeclampsia and ensure that vital organs are not affected. An
		ultrasound scan may also be conducted to estimate the baby’s weight.
	</p>
	<p>
		To keep blood pressure under control, blood pressure medication that is safe
		for both mother and baby may be prescribed.
	</p>

	<h3>Preeclampsia</h3>
	<p>
		Preeclampsia is a potentially life-threatening complication resulting from
		untreated high blood pressure during pregnancy. Preeclampsia is diagnosed
		when the expectant mother has high blood pressure and protein in her urine.
		It affects 3 out of 100 pregnant women and usually develops after 20 weeks
		of pregnancy. Sometimes it can develop after the birth of the baby.
	</p>

	<h4>Symptoms</h4>
	<ul>
		<li>High blood pressure</li>
		<li>Protein in the urine</li>
		<li>Sudden swelling in both feet and face</li>
		<li>Persistent headache</li>
		<li>Vision blurring</li>
		<li>Nausea or severe nausea and/or vomiting</li>
		<li>Abdominal pain</li>
	</ul>

	<h4>Complications</h4>
	<p>
		Preeclampsia can impair the expectant mother’s kidneys and liver and affect
		blood platelets and the heart. When the relaxation function of the heart is
		affected, it can cause water retention in the lungs typically during the
		third trimester, close to delivery. This could lead to the development of
		heart failure.
	</p>
	<p>
		Preeclampsia can also cause fetal growth restriction as the blood supply to
		the uterus and placenta, which supplies nutrients and oxygen to the baby, is
		hindered. This may result in early delivery of the baby.
	</p>
	<p>
		If preeclampsia is left untreated, eclampsia, the most severe form of
		pregnancy high blood pressure, can develop. In eclampsia, the mother could
		develop potentially life-threatening complications such as seizures or fits.
	</p>

	<h4>Treatment</h4>
	<p>
		Aggressive monitoring is needed in preeclampsia. In severe cases where
		treatment is ineffective and the condition of mother and baby worsens,
		delivery of the baby via caesarean section will be the only option.
	</p>

	<h2>Preventing Abnormal Blood Pressure During Pregnancy</h2>
	<ol start="1">
		<li>
			Preconception screening is encouraged so that health conditions such as
			diabetes, hypertension or weight issues can be flagged out.
		</li>
		<li>
			Expectant mothers are encouraged to maintain a heart-healthy lifestyle to
			prevent elevated blood pressure. This includes:
		</li>
		<ul>
			<li>
				<span class="font-bold">Having a healthy diet to maintain a healthy weight</span>. While the amount of
				weight gain differs based on pre-pregnancy weight, pregnant women are
				encouraged to have a BMI of between 18 and 23kg/m2.In general, healthy
				eating can optimise pregnancy outcomes and assist with the overall
				growth and development of the fetus. A healthy balanced diet consists of
				a diet rich in whole grains, fresh fruit and vegetables, lean protein,
				healthier vegetable oils and low-fat dairy products.In addition, avoid
				foods high in saturated and trans-fat, fatty cuts of meat, full-fat
				dairy, baked products, and sugar-sweetened beverages.Intake of essential
				nutrients is encouraged during pregnancy. Hence, pregnant women should
				include healthy foods high in folate, iron, calcium, and vitamin B12 in
				their diet as they will support their health and baby’s development and
				growth.
			</li>
			<li>
				<span class="font-bold">Doing 150 minutes of moderate-intensity exercise per week</span>. The Health
				Promotion Board recommends for pregnant women to reduce the intensity of
				activity and avoid contact sports or exercises with fall risk. Light
				cardiovascular exercises such as walks, runs and swims which help take
				pressure off joints are encouraged. According to the Singapore Physical
				Activity Guidelines, exercising before and during pregnancy is
				associated with a reduced risk of gestational diabetes, weight gain and
				a lowered risk of premature birth.
			</li>
			<li>
				<span class="font-bold">Get adequate sleep</span> of 6 to 8 hours a day to manage stress levels, a
				contributing factor to high blood pressure.
			</li>
		</ul>
	</ol>

    <h2>When to see a Doctor</h2>
    <p>A serious medical emergency can be prevented if gestational hypertension is detected early – either at regular prenatal care checks or through blood pressure monitoring at home. Women who discover high blood pressure during pregnancy should seek immediate review from their obstetrician and cardiologist to manage elevated blood pressure.</p>

    <h2>Conclusion</h2>
<p>Grasp the key points on hypertension and pregnancy from our healthcare experts here:</p>
	<div class="youtube-embed-container">
		<iframe
			width="560"
			height="315"
			src="https://www.youtube.com/embed/gJxd1784mC8?si=o-8-acGzJ7H6B9bv"
			title="YouTube video player"
			frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin"
			allowfullscreen></iframe>
	</div>
    <p>No matter what stage of life you are at, continuous management of blood pressure is important to keep a serious medical condition such as heart disease from developing in the long run.</p>

    <div class="text-sm font-light">Reproduced in full with permission from Singapore Heart Foundation @ myheart.org.sg</div>
</Layout>

<!-- <style>
	/* Mobile styles */
	.img-container {
		display: none;
	}
	
	
	/* Desktop styles (min-width: 768px) */
	@media (min-width: 768px) {
		.img-container {
			display: block;
		}
		
	}
	</style> -->
