---
import "../styles/global.css";
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Testimage from "../assets/page-1/nuhsapp.jpeg";
---

<Layout title="testing title">
	<Header />
	<h1 class="font-bold text-red-500 text-4xl">Hello H1 Title</h1>
	<p>*Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit repellat quo libero sint? Fuga exercitationem eum voluptas obcaecati accusantium atque nam dicta. Labore qui exercitationem vel totam odio fugit laudantium.</p>
	<!-- <Image
		src={Testimage}
		alt="Singapore VisionCare Programme"
		class="rounded-lg h-64 w-64 object-cover object-center"
		format="webp"
		quality={20}
	/> -->
</Layout>
