---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Testimage from "../assets/page-1/nuhsapp.jpeg";
---

<Layout title="testing title">
	<h1 class="font-bold text-red-500 text-4xl">Micro-content Staging</h1>
	<p>
		Please do not share any links to this site. This is a staging site for
		internal testing purposes only.
	</p>
	
	<nav class="mt-8">
		<ul class="space-y-4">
			<li>
				<a href="/pil/" class="text-blue-600 hover:text-blue-800 underline text-lg">
					Patient Information Leaflets (PILs)
				</a>
			</li>
			<li>
				<a href="/basic/" class="text-blue-600 hover:text-blue-800 underline text-lg">
					Basic Content
				</a>
			</li>
		</ul>
	</nav>
	<!-- <Image
		src={Testimage}
		alt="Singapore VisionCare Programme"
		class="rounded-lg h-64 w-64 object-cover object-center"
		format="webp"
		quality={20}
	/> -->

  
  <!-- Flowbite JS -->
  <script src="https://unpkg.com/flowbite@2.2.1/dist/flowbite.min.js"></script>
  
  
  


</Layout>
