---
import PilLayout from "../layouts/PilLayout.astro";
import LegendGrid from "../components/LegendGrid.astro";
import TreatmentCycleGrid from "../components/TreatmentCycleGrid.astro";
import Accordion from "../components/Accordion.astro";
import CommonSideEffects from "../components/CommonSideEffects.astro";
import OtherCommonSideEffects from "../components/OtherCommonSideEffects.astro";
import OccasionalSideEffects from "../components/OccasionalSideEffects.astro";
import RareSideEffects from "../components/RareSideEffects.astro";
import SafeHandlingAccordion from "../components/SafeHandlingAccordion.astro";
import GeneralPrecautionsAccordion from "../components/GeneralPrecautionsAccordion.astro";
import LifestyleSafetyAccordion from "../components/LifestyleSafetyAccordion.astro";
import HealthcareTeamContact from "../components/HealthcareTeamContact.astro";

const sampleTreatments = [
  {
    name: "Capecitabine",
    cycle: "days 1 to 14 of your 21-day cycle",
    info: "taken twice daily by mouth",
    icon: "pill-blue",
  },
  {
    name: "Lapatinib",
    cycle: "days 1 to 21 of your 21-day cycle",
    info: "taken once daily by mouth",
    icon: "pill-red",
  },
  {
    name: "Cisplatin",
    cycle: "day 1, 8 and 15 of your 21-day cycle",
    info: "administered intravenously ~ 60 min",
    icon: "drip-red",
  },
  {
    name: "Fluorouracil",
    cycle: "day 1 of your 21-day cycle",
    info: "administered intravenously ~ 24 hours",
    icon: "drip-blue",
  },
  {
    name: "Trastuzumab",
    cycle: "day 8 of your 21-day cycle",
    info: "administered subcutaneously ~2 to 5 min",
    icon: "inject-green",
  },
  {
    name: "Radiation",
    cycle: "days 1 to 5 of your 21-day cycle",
    info: "administered over ~ 15 to 30 mins",
    icon: "radiation-green",
  },
  {
    name: "Rest",
    cycle: "days 6, 7, 20 and 21",
    info: "you won't have any anti-cancer treatment. Take this time to rest and recover",
    icon: "home",
  },
];
---

<PilLayout title="Lung Cancer">
  <h1>Capecitabine and Radiation Therapy</h1>

  <h2>About the treatment</h2>
  <p>
    Concurrently given with radiation, capecitabine (antimetabolite
    chemotherapy) is a treatment option for colorectal and some other cancers.
    Radiation and cancer medicines are usually used to slow or stop cancer cell
    growth and spread more effectively.
  </p>
  <h2>Treatment details</h2>
  <LegendGrid treatments={sampleTreatments} />
  <h2>Treatment cycle</h2>
  <TreatmentCycleGrid />
  <hr class="py-4 border-t-[0.5px] border-gray-500" />

  <h2>Side Effects</h2>
  <p>
    Chemotherapy is often linked to so many side effects. While it is true that
    chemotherapy drugs often cause a wide range of side effects, most of these
    side effects are temporary and can be minimised or prevented. Remember that
    different drugs cause different side effects, and each person experiences
    different side effects to varying degrees.
  </p>

  <!-- <CommonSideEffects /> -->

  <!-- <OtherCommonSideEffects />

  <OccasionalSideEffects />

  <RareSideEffects /> -->

  <hr class="py-4 border-t-[0.5px] border-gray-500" />

  <SafeHandlingAccordion />

  <GeneralPrecautionsAccordion />

  <LifestyleSafetyAccordion />

  <hr class="py-4 border-t-[0.5px] border-gray-500" />
  <HealthcareTeamContact />

  <style>
    /* Style for details/summary accordion */
    details summary {
      list-style: none;
    }

    details summary::-webkit-details-marker {
      display: none;
    }

    details[open] .details-arrow {
      transform: rotate(180deg);
    }

    details .details-arrow {
      transition: transform 0.3s ease-in-out;
    }
  </style>
</PilLayout>
