---
import Accordion from "./Accordion.astro";
---

<Accordion title="General Precautions">
  <ul class="space-y-2">
    <li>Tablets/capsules should be swallowed whole (not chewed).</li>
    <li>
      Do not crush or break tablets or capsules. Check with your pharmacist or
      doctor if you can or have difficulty swallowing them.
    </li>
    <li>
      If it is necessary to cut the tablets (e.g. into halves or quarters) to
      obtain the correct dose, a tablet cutter should be used. Do not use the
      same tablet cutter to cut other medicines.
    </li>
    <li>Wash your hands before and after taking medications.</li>
    <li>
      Caregivers should not handle medications with bare hands. Gloves should
      be worn. If there is accidental contact, hands should be washed
      immediately with soap and water.
    </li>
    <li>Pregnant and lactating females should avoid handling medications.</li>
    <li>Keep all medications in a safe place, out of reach of children.</li>
    <li>
      If the medication requires refrigeration, it should be properly
      separated from other foods (i.e. in a resealable plastic bag or
      container). Do not store other foods or medicines in the same container.
    </li>
    <li>
      Use designated oral syringes or spoons to take your medications. You may
      wash and reuse these for further doses, but do not use them for other
      purposes.
    </li>
    <li>
      If the doctor decides to stop treatment, return the remaining medicine
      to the pharmacy for proper disposal.
    </li>
  </ul>
</Accordion>