<header>
	<svg
		class="full-width-svg"
		height="2"
		viewBox="0 0 300 2"
		preserveAspectRatio="none"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<rect width="75" height="2" fill="#E57200"></rect>
		<rect x="75" width="75" height="2" fill="#E4002B"></rect>
		<rect x="150" width="75" height="2" fill="#00A9E0"></rect>
		<rect x="225" width="75" height="2" fill="#002F6C"></rect>
	</svg>
	<div class="logo-container">
		<img src="/nuhs-logo.svg" class="logo" alt="NUHS Logo" />
	</div>
	<svg
		class="mobile-width-svg"
		height="2"
		viewBox="0 0 375 2"
		preserveAspectRatio="none"
		fill="none"
		xmlns="http://www.w3.org/2000/svg"
	>
		<rect width="74.8005" height="2" fill="#002F6C"></rect>
		<rect x="74.8003" width="75.7979" height="2" fill="#E57200"></rect>
		<rect x="150.599" width="73.8032" height="2" fill="#00A9E0"></rect>
		<rect x="224.401" width="75.7979" height="2" fill="#E4002B"></rect>
		<rect x="300.199" width="74.8005" height="2" fill="#0077C8"></rect>
	</svg>
</header>
