---
---

<div class="bg-red-50 p-4 rounded-lg mb-4">
  <h2>How to contact your Healthcare Team</h2>
  <div class="btn-center-wrapper">
    <a href="tel:+6597220569" target="_blank" rel="noopener noreferrer">
      <button class="btn btn-default">Cancer Line (+65) 97220569</button>
    </a>
  </div>
  <p>
    8:30 am - 5:30 pm (Mondays - Fridays) <br />
    Closed on Weekends & Public Holidays
  </p>
  <h4>Contact your healthcare team as soon as possible if:</h4>
  <ul>
    <li>You have severe side effects.</li>
    <li>Your side effects aren't getting any better.</li>
    <li>Your side effects are getting worse.</li>
  </ul>
  <h4>Seek medical attention if you develop the following:</h4>
  <ul>
    <li>
      Soon after treatment, signs of an allergic reaction include rashes, face
      swelling, dizziness, chest tightness, a fast heartbeat, or breathing
      difficulties.
    </li>
    <li>
      Symptoms of an infection include fever (temperature over 38°C), chills,
      severe sore throat, wet cough (coughing up thick or green phlegm), and
      cloudy or foul-smelling urine.
    </li>
    <li>Signs of unusual bleeding, bruising, or dark and sticky stools.</li>
    <li>Feeling unwell (despite not having a fever).</li>
  </ul>
</div>