---
import Accordion from "./Accordion.astro";

interface SideEffect {
  name: string;
  description?: string;
}

interface Props {
  immuneSideEffects: SideEffect[];
}

const { immuneSideEffects = [] } = Astro.props;
---

<Accordion title="Immuno Side Effects">
 
  
  <ul class="space-y-2">
    {immuneSideEffects.map((sideEffect) => (
      <li class="text-gray-700">
        <span class="font-medium">{sideEffect.name}</span>
        {sideEffect.description && <p class="mt-1 text-gray-600">{sideEffect.description}</p>}
      </li>
    ))}
  </ul>
  
 
</Accordion>