---
const { name, cycle, info, icon = [] } = Astro.props;
---

<div
	class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400"
>
	<div class="shrink-0">
		<img
			src={`/icons/${icon}.svg`}
			alt="drip"
			class="w-8 h-8 object-contain"
		/>
	</div>
	<div class="flex flex-col text-sm">
		<span class="font-semibold">{name}</span>
		<span>{cycle}</span>
		<span>{info}</span>
	</div>
</div>

<!-- More people... -->
