---
import LegendCard from "./LegendCard.astro";

interface Treatment {
  name: string;
  cycle: string;
  info: string;
  icon: string;
}

interface Props {
  treatments: Treatment[];
}

const { treatments } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-1 gap-3 my-8">
	{treatments.map((treatment) => (
		<LegendCard
			name={treatment.name}
			cycle={treatment.cycle}
			info={treatment.info}
			icon={treatment.icon}
		/>
	))}
</div>