---
import Accordion from "./Accordion.astro";
---

<Accordion title="Lifestyle & Safety Advice">
  <h3>Food & Drink</h3>
  <p>
    Tell your healthcare team about any medicines you are taking. This
    includes vitamins, herbal supplements, traditional Chinese medicine and
    over-the-counter remedies. During treatment, please do not drink the juice
    of the following fruits, including supplements that may contain them:
    grapefruit, starfruit, pomegranate and pomelo. They may interfere with the
    effects of drugs or cause dangerous side effects.
  </p>
  <p>
    As some treatments may weaken your immune system, avoiding raw or
    undercooked food such as sushi, raw meat, and runny eggs is advisable to
    prevent infection. Bacteria are often present in uncooked food and are
    usually killed by the cooking process. If your doctor determines it is
    safe to eat raw vegetables and fruits, they should be carefully washed. We
    have dietitian services that can help you plan your diet and meals. Please
    let a member of your healthcare team know if you are interested.
  </p>
  <h3>Pregnancy, Contraception and Breastfeeding</h3>
  <p>
    This drug may harm a baby developing in the womb. It is critical not to
    become pregnant while having treatment and for at least six months
    afterwards. Before starting treatment, talk to your healthcare team about
    effective contraception (for both male and female partners). Do not
    breastfeed during this treatment because the drug may pass through your
    breast milk.
  </p>
  <h3>Fertility</h3>
  <p>
    It is not known whether this treatment affects fertility in people. We
    have fertility services that can assist with family planning. Talk to your
    healthcare team before starting treatment if you intend to have a baby in
    the future.
  </p>
  <h3>Immunisations</h3>
  <p>
    You may have immunisations and vaccinations to protect your health. Please
    check with your healthcare team on which immunisations and vaccinations
    you can take, as this may vary depending on the type of cancer and
    treatment you are having.
  </p>
  <h3>Alcohol</h3>
  <p>
    It is generally advisable to avoid alcohol while undergoing cancer
    treatment.
  </p>
  <h3>Exercise</h3>
  <p>
    Keep an active routine. Regular exercise, such as walking 30 minutes
    weekly, would be helpful.
  </p>
</Accordion>