---
import Accordion from "./Accordion.astro";
---

<Accordion title="Occasional Side Effects">
  <h4>
    The following side effects occur in between 1 to 10 out of every 100
    people (1 - 10%) You might have one or more of them
  </h4>

  <ul>
    <li>Low red blood cell count (Anaemia)</li>
    <li>Swelling</li>
    <li>Constipation</li>
    <li>Upset stomach</li>
    <li>Taste disorder</li>
    <li>Liver changes (Monitored by specific blood tests)</li>
    <li>Watery eyes, redness, blurred vision</li>
    <li>Blood clots</li>
    <li>Feeling balance problem/spinning</li>
    <li>Dizziness</li>
    <li>Sleeplessness (Insomnia)</li>
    <li>Memory & cognitive problems</li>
    <li>Headache</li>
    <li>Mood changes</li>
    <li>Nail changes</li>
    <li>Rash, itchy skin, discolouration</li>
    <li>Rash or irritation on skin area treated with radiation</li>
    <li>Hair loss</li>
    <li>Muscle weakness and pain</li>
    <li>Joint pain</li>
    <li>Dehydration</li>
    <li>Lungs/Breathing problems (Cough, shortness of breath, fever)</li>
  </ul>
</Accordion>