---
import Accordion from "./Accordion.astro";

interface SideEffect {
  name: string;
  description?: string;
}

interface Props {
  occasionalSideEffects: SideEffect[];
}

const { occasionalSideEffects = [] } = Astro.props;
---

<Accordion title="Occasional Side Effects">
  <h4>
    The following side effects occur in between 1 to 10 out of every 100
    people (1 - 10%) You might have one or more of them
  </h4>

  <ul>
    {occasionalSideEffects.map((sideEffect) => (
      <li>{sideEffect.name}</li>
    ))}
  </ul>
</Accordion>