---
import Accordion from "./Accordion.astro";
---

<Accordion title="Other Common Side Effects">
  <ul>
    <li>Low appetite</li>
    <li>Abdominal pain</li>
    <li>Mouth sores</li>
  </ul>
</Accordion>