---
import Accordion from "./Accordion.astro";

interface SideEffect {
  name: string;
  description?: string;
}

interface Props {
  otherCommonSideEffects: SideEffect[];
}

const { otherCommonSideEffects = [] } = Astro.props;
---

<Accordion title="Other Common Side Effects">
  <ul>
    {otherCommonSideEffects.map((sideEffect) => (
      <li>{sideEffect.name}</li>
    ))}
  </ul>
</Accordion>