---
import Accordion from "./Accordion.astro";
---

<Accordion title="Rare Side Effects">
  <h4>
    The following side effects occur in fewer than 1 out of every 100 people.
  </h4>
  <ul>
    <li>
      Cardiac problems (Chest pain or tightness, irregular heartbeat or blood
      pressure changes, shortness of breath)
    </li>
    <li>Severe rash, blisters, peeling usually with fever</li>
    <li>Sensitivity to the sun or UV light</li>
    <li>Allergic reactions</li>
  </ul>
</Accordion>