---
import Accordion from "./Accordion.astro";

interface SideEffect {
  name: string;
  description?: string;
}

interface Props {
  rareSideEffects: SideEffect[];
}

const { rareSideEffects = [] } = Astro.props;
---

<Accordion title="Rare Side Effects">
  <h4>
    The following side effects occur in fewer than 1 out of every 100 people.
  </h4>
  <ul>
    {rareSideEffects.map((sideEffect) => (
      <li>{sideEffect.name}</li>
    ))}
  </ul>
</Accordion>