---
import Accordion from "./Accordion.astro";
---

<Accordion title="Safe Handling of Oral Chemotherapy Medicine ">
  <p>
    You have been prescribed oral chemotherapy medicine for your medical
    condition. It is essential to handle this medicine with care, as incorrect
    handling may cause harm to unintended users.
  </p>
  <p>Accidental exposure may occur through:</p>
  <ul>
    <li>Inhalation of dust when crushing or breaking the tablets/capsules</li>
    <li>Inhalation of droliets when there is spillage of liquid syrups</li>
    <li>
      Ingestion after contact with contaminated hands or the environment
    </li>
  </ul>
</Accordion>