
<!-- src/components/TreatmentGrid.astro -->
---
import TreatmentCard from './TreatmentCard.astro';
interface Props {
  days: number;
  treatments: string[];
}

const { days, treatments } = Astro.props;
---

<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7 gap-2 my-8">
  {Array.from({ length: Number(days) }).map((_, i) => (
    <TreatmentCard 
      key={i} 
      title={`Day ${i + 1}`} 
      treatments={treatments}
    />
  ))}
</div>